*{
    margin: 0;
    padding: 0;
    /* color: #f2f5f7;  */
    font-family: "Poppins", sans-serif;;
    letter-spacing: 1px;
    /* font-weight: 300; */
}
body{
    overflow-x: hidden; 
    background-color: #131418;
}

.main{
    display: flex;
}
.navbar{
    height: 6rem;
    width: 100vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
    display: flex;
    flex: 1;

}

.logoLeft img{
    height: 3.5rem;
}

.logoRight{
    
    margin-left: 5px;
    height: 3.5rem;
    width: 15rem;
    border-left: solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.logoName{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    font-weight:500;
    padding-bottom: 10px;
    
}

.midnav{
   
    flex: 1;
    width: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.navopt{
    border-bottom: 1px solid transparent;
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}

/* .cont1{
    text-decoration: none;
}
.cont2{
    text-decoration: none;
} */
.navopt:hover{
    border-bottom: 1px solid white;
}

.tagline{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px; 
}

.leftText {
    text-align: left;
    padding-left: 8px;
  }
/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}


/*Styling Buttons*/
.buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    flex: 1;
    padding-right: 1.5em;
}

.gov-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.gov-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.rescue-button{
    
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 2em;
}
.rescue-button:hover {
    color:#131418 ;
    background-color: white;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

.heroContainer{
    padding-top: 6rem;
}

.hero{
    
    height: 480px;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.heroText{
    
    height: 80px;
    width: auto;
    font-size: 2.8em;
   
}

.textbottom{
    font-size: 32px;
    position: absolute;
    bottom: 180px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

.aboutUs{
    padding-top: 0px;
    margin-top: 0px;
    height: 500px;
    width: auto;
    background:linear-gradient(700deg, #131418, #0b143bc9, #f36e3e);; 
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.govtcontainer{
    display: flex;
    height: 450px;
    margin: 5px;
}

.govTitle{
    padding-top: 42px;
    display: flex;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.leftSide{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 74px;
    
}
.points{
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.listPoint{
    padding-top: 16px;
    
    font-size: larger;
    list-style-type: none;
}

.listPoint .MuiSvgIcon-root {
    margin-right: 8px; /* Adjust the margin as needed */
}

.subpoint{
    color: #f2f5f7b1;
}
.rightSide{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.rightSide img{
    
    margin-right: 20px;
    border-radius: 30px;
    height: 380px;
    width: 500px;
    
}

.rescueimg{
  margin-top: 92px;

}

.govtTitle{
    color: white;
}
/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}