.header-section{
    color: white;
    margin: 0;
    background-color: #121029;
    margin-top: 0;
    display: flex;
    justify-content:space-between;
    font-size: 2rem;
    .header-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
            width:100px;
        }
        .header-logo-text{
            margin: 0 10px;
            font-size: 1.5rem;

            .header-logo-motto{
                font-size: 15px;
            }
            
        }
    }
    .Profile-container{
        margin: 10px;
        display: flex;
        .profile-name{
            padding: 0;
            margin: 0;
            font-size: 1.2rem;
        }

    }
}